@charset "utf-8";
/* intro */
.d_logo{position:absolute;top:20px;left:20px;z-index:100;}
.oi_logo{width:300px;}
.byoioi_logo{width:250px;}
.oicollection_mini_logo{width:50px;position:absolute;left:-60px}
.byoioi_mini_logo{width:50px;position:absolute;left:40px}
.quick_menu{width:80px;background-color:#fff;position:fixed;top:0;right:0;z-index:110;bottom:0;transition:.5s}
.quick_menu_open{font-size:12px;position:absolute;top:20%;left:-65px;-webkit-transform:rotate(90deg);transform:rotate(90deg);-webkit-transition:all .3s;transition:all .3s;padding:10px;background-color:#fff;border-left:solid 1px #ccc;border-bottom:solid 1px #ccc;border-right:solid 1px #ccc;cursor:pointer;border-radius: 0 0 5px 5px;}
.quick_cont{padding:10px;}
.quick_cont img {width:100%;}
.quick_menu.open{right:-80px;}
#video_viewport video{position:absolute;top:0;left:0;}
.swiper-container{width:100%;height:100%}
.swiper-slide{text-align:center;font-size:18px;background:#fff;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;background-size:cover;background-position:center center}
.swiper-slide img{width:100%}
.swiper-container-v{background:#eee}
.swiper-slide a img{transform: translate3d(600px, 0px, 0px);transition-duration:0ms;}
.swiper-slide.swiper-slide-active a img {transform: translate3d(0px, 0px, 0px);transition-duration:600ms;}

/*  헤더  */
header{width:100%;position:fixed;top:0;left:0;z-index:2}
header h1{width:250px;margin:0 auto;margin-top:10px}
header h1 img{width:100%}

/*  띠팝업  */
.header_notice{width:100%;height:25px;color:#fff;background-color:#32cd32;font-size:10pt;z-index:2}
.header_notice marquee{height:13px;color:#02f;line-height:18px;scrolldelay:1000;z-index:2}

.header_menu{position:relative}
.header_menu:after{content:'';display:block;clear:both}
.logo{width:250px;display:inline-block;position:absolute;top:10px;left:50%;margin-left:-125px}
.logo img{width:100%}
.header_open_menu{float:left;width:400px;margin-left:3%;}
.header_open_menu li{float:left;line-height:20px;font-size:16px;}
.header_open_menu li a{float:left;padding:17px 10px 18px 10px;font-weight:700;}
.header_open_menu li a:hover{text-decoration:underline}
.header_open_menu.menu_icon{float:right;margin-right:50px;margin-left:0;width:auto;}
.header_open_menu.menu_icon li{float:left;margin-left:10px}
.header_open_menu.menu_icon li:first-child{margin-left:0}
.header_open_menu.menu_icon li a{float:left;line-height:18px;padding:18px 5px 19px 5px}
.header_open_menu.menu_icon li img{float:left;width:18px}
.header_open_menu.menu_icon li.cart span{margin-left:3px;color:red;display:inline-block;line-height:18px}
.header_open_menu.menu_icon li.mall {position:relative;}
.header_open_menu.menu_icon li.mall li{float:left;}
.header_open_menu.menu_icon li.mall ul li{width:auto;height:auto;margin:0;}
.header_open_menu.menu_icon li.mall ul li a{padding:3px 5px;}
.header_open_menu li.open{}
.header_open_menu li.open ul{display:block;position:absolute;top:35px;}
.header_open_menu li ul{display:none;padding-top:10px}
.header_open_menu li ul li{float:none;width:80px;height:18px;line-height:18px}
.header_open_menu li ul li a{float:none;padding:5px 10px;}

#pinContainer{width:100%;height:100%;overflow:hidden}
#pinContainer{background-image:url(../img/oioi_05.png);background-size:cover;text-align:center;position:relative;height:100%;min-height:500px;min-width:100%;height:100vh}
.page_c{height:100%;width:100%;position:absolute}
.main1{background-image:url(../img/main1.jpg);background-attachment:fixed;background-size:cover}
.main2{background-image:url(../img/main2.jpg);background-size:cover;background-attachment:fixed}
.main3{background-image:url(../img/main3.jpg);background-size:cover;background-attachment:fixed}
.main4{background-image:url(../img/main4.jpg);background-size:cover;background-attachment:fixed}

footer{padding-bottom:30px;}
.footer{width:100%;height:200px;margin:0 auto;overflow:hidden;border-top:1px solid #ccc}
.footer ul{float:left;margin:2% 0 0 10%;line-height:25px}
.footer ul h1{}
.footer ul li{cursor:pointer;line-height:20px;}
.footer ul li:first-child{font-size:15px;font-weight:600;padding-bottom:1%}
.footer ul li a{color:#666;}
.footer>ul>li a:hover{color:gray;transition:.3s}
.footer .cx{width:15%;margin-left:10%}
.footer .legal{width:15%;margin-left:5%}
.footer .company{width:15%;margin-left:8%;font-size:15px;}
.footer .sns{width:15%;margin-left:10%}
.footer .sns li{width:16px;float:left;padding-right:7%}
.footer ul.sns li:first-child{width:100%;}
.footer .sns li a:hover{opacity:50%}
.footer .sns img{width:100%}
.footer2{width:80%;margin:0 auto;overflow:hidden}
.footer2 li{line-height:15px;float:left;font-size:14px;}
.footer2 li.copy{width:10%}
.footer2 li.address{float:right;width:850px}