@charset "utf-8";
/* intro */
.d_logo{position:absolute;top:20px;left:20px;z-index:100;}
.oi_logo{width:300px;}
.byoioi_logo{width:250px;}
.oicollection_mini_logo{width:50px;position:absolute;left:-60px}
.byoioi_mini_logo{width:50px;position:absolute;left:40px}
.quick_menu{width:80px;background-color:#fff;position:fixed;top:0;right:0;z-index:110;bottom:0;transition:.5s}
.quick_menu_open{font-size:12px;position:absolute;top:20%;left:-65px;-webkit-transform:rotate(90deg);transform:rotate(90deg);-webkit-transition:all .3s;transition:all .3s;padding:10px;background-color:#fff;border-left:solid 1px #ccc;border-bottom:solid 1px #ccc;border-right:solid 1px #ccc;cursor:pointer;border-radius: 0 0 5px 5px;}
.quick_cont{padding:10px;}
.quick_cont img {width:100%;}
.quick_menu.open{right:-80px;}
#video_viewport video{position:absolute;top:0;left:0;}
.swiper-container{width:100%;height:100%}
.swiper-slide{text-align:center;font-size:18px;background:#fff;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;background-size:cover;background-position:center center}
.swiper-slide img{width:100%}
.swiper-container-v{background:#eee}
.swiper-slide a img{transform: translate3d(600px, 0px, 0px);transition-duration:0ms;}
.swiper-slide.swiper-slide-active a img {transform: translate3d(0px, 0px, 0px);transition-duration:600ms;}

/*  헤더  */
header{width:100%;position:fixed;top:0;left:0;z-index:2}
header h1{width:250px;margin:0 auto;margin-top:10px}
header h1 img{width:100%}

/*  띠팝업  */
.header_notice{width:100%;height:30px;background-color:#64c063;font-size:10pt;z-index:31; overflow:hidden; }
.header_notice marquee{color:#fff;line-height:30px;scrolldelay:1000;z-index:2;margin:0;padding:0;}

.header_menu{position:relative;height:100px;}
.header_menu:after{content:'';display:block;clear:both}
.logo{width:300px;display:inline-block;position:absolute;top:30px;left:50%;margin-left:-150px}
.logo img{width:100%}

.header_open_menu{float:left;width:400px;margin-left:3%;margin-top:23px;}

.header_open_menu li{float:left;line-height:20px;font-size:12px;}
.header_open_menu li a{float:left;padding:17px 10px 18px 10px;}
.header_open_menu li a:hover{text-decoration:underline}
.header_open_menu.menu_icon{float:right;margin-right:50px;margin-left:0;width:auto;}
.header_open_menu.menu_icon li{float:left;margin-left:10px}
.header_open_menu.menu_icon li:first-child{margin-left:0}
.header_open_menu.menu_icon li a{float:left;line-height:18px;padding:18px 0px 0px 3px;}
.header_open_menu.menu_icon li img{float:left;width:18px}
.header_open_menu.menu_icon li.cart span{margin:3px 0 0 5px; color:#999; display:inline-block; line-height:18px}
.header_open_menu.menu_icon li.mall {position:relative;}
.header_open_menu.menu_icon li.mall li{float:left;}
.header_open_menu.menu_icon li.mall ul li{width:auto;height:auto;margin:0;}
.header_open_menu.menu_icon li.mall ul li a{margin:3px 5px; border:1px solid red; }

.header_open_menu li.open ul{display:block;position:absolute;top:35px;}
.header_open_menu li ul{display:none;padding-top:10px}
.header_open_menu li ul li{float:none;width:80px;height:18px;line-height:18px}
.header_open_menu li ul li a{float:none;padding:5px 10px;}

#pinContainer{width:100%;height:100%;overflow:hidden}
#pinContainer{background-image:url(../img/oioi_05.png);background-size:cover;text-align:center;position:relative;height:100%;min-height:500px;min-width:100%;height:100vh}
.page_c{height:100%;width:100%;position:absolute}
.main1{background-image:url(../img/main1.jpg);background-attachment:fixed;background-size:cover}
.main2{background-image:url(../img/main2.jpg);background-size:cover;background-attachment:fixed}
.main3{background-image:url(../img/main3.jpg);background-size:cover;background-attachment:fixed}
.main4{background-image:url(../img/main4.jpg);background-size:cover;background-attachment:fixed}

footer{padding-bottom:30px;}
.footer{width:100%;height:200px;margin:0 auto;overflow:hidden;border-top:1px solid #ccc;}
.footer ul{float:left;margin:2% 0 0 10%;line-height:25px}
.footer ul h1{}
.footer ul li{cursor:pointer;line-height:20px;}
.footer ul li:first-child{font-size:14px;font-weight:600;padding-bottom:1%}
.footer ul li a{color:#666;font-size:12px}
.footer>ul>li a:hover{color:gray;transition:.3s}
.footer .cx{width:15%;margin-left:10%}
.footer .legal{width:15%;margin-left:5%}
.footer .company{width:15%;margin-left:8%;font-size:15px;}
.footer .sns{width:15%; margin-left:10%; }
.footer .sns li{width:16px; float:left; padding-right:7%; overflow:hidden;}
.footer ul.sns li:first-child{width:100%;}
.footer .sns li a {opacity:60%;   }
.footer .sns li a:hover {opacity:100%;}
.footer .sns img{width:100%;}
.footer2{width:80%;margin:0 auto; overflow:hidden; }
.footer2 li{line-height:15px; float:left; font-size:12px; color:#666; }
.footer2 li.copy{width:10%;}
.footer2 li.address{float:right; width:850px;}

/* 쇼핑하기 - 신상품 */
#shop_new{width:100%; height:20px; line-height:20px;  margin:20px 0; font-size:12px; }
#shop_new ul{width:100px; box-sizing:border-box; overflow:hidden; margin:0 auto;}
#shop_new ul>li{width:100px; text-align:center; }

#product{width:100%; overflow:hidden; margin-bottom:5%}
#product ul:after{content:'';display:block;clear:both;}
#product .product_img img{width:100%; float:left;}
#product li{width:25%; float:left; box-sizing:border-box; position:relative;}
#product li:after{content:''; display:block; position:absolute;top:0;left:0; width:100%;height:100%; border:solid 3px #fff; box-sizing:border-box;}
#product.pattern li:nth-child(1){width:50%;float:left;}
#product.pattern li:nth-child(9n+1){width:50%; float:right;}
#product.pettern li:nth-child(18n+1){width:50%; float:left;}
#product li .icon{position:absolute;top:15px;right:15px; transition:.4s; opacity:0; z-index:21; overflow:hidden; width:45px; }
#product li .icon img{width:16px; opacity:0.8; margin-left:5px; float:left;  }
#product li:hover .icon,
#product li:hover .product_infor{opacity:1;}
#product .product_infor{position:absolute;top:0;left:0; width:100%;height:100%; transition:.4s; opacity:0; z-index:20; background-color:rgb(255,255,255,.3); }
#product .product_infor a .product_name{display:table-cell; vertical-align:middle; text-align:center; font-size:12px; font-weight:500;}
#product .product_infor a .product_name p + p{padding-top:5px;}
#product .product_infor a{display:table; width:100%;height:100%; }
#product .product_infor a:hover{text-decoration:none;}


/* 쇼핑하기 - 전상품 카테고리 */
#shop_all {width:100%;height:20px; line-height:20px;  margin:20px 0; font-size:12px;}
#shop_all ul{width:515px; box-sizing:border-box; overflow:hidden; margin:0 auto;}
#shop_all ul>li{width:55px; float:left; cursor:pointer; text-align:center; box-sizing:border-box;}
#shop_all ul>li a:hover{text-decoration:underline;}
#shop_all ul li:first-child { margin-right:10px;  }


/* 에디토리얼 */ 
#editorial {width:50%;  margin-top:-100px;  }
#resort20_editorial { width:100%;  }
#resort20_editorial img {width:100%; float:left; }
#draggable, #draggable2, #draggable3, #draggable4, #draggable5, #draggable6, #draggable7, #draggable8 { width: 150px; height: 200px; border:1px solid gray;}
#draggable  {position:absolute; top:15%; right:35%; }
#draggable2 {position:absolute; top:15%; right:8%;  }
#draggable3 {position:absolute; top:30%; right:25%; }
#draggable4 {position:absolute; top:35%; right:30%; }
#draggable5 {position:absolute; top:40%; right:15%; }
#draggable6 {position:absolute; top:55%; right:25%; }
#draggable7 {position:absolute; top:60%; right:10%; }
#draggable8 {position:absolute; top:70%; right:30%; }
#drag img {width:100%;}

/* 협찬 */
#press { width:100%;  margin-top:70px;}
#press ul { width:80%;  margin:0 auto; margin-bottom:50px; overflow:hidden; box-sizing:border-box;}
#press ul li { width:25%; border:3px solid white; float:left; overflow:hidden;  box-sizing:border-box; font-size:11px; font-weight:700; }
#press ul li img {width:100%;}
#press ul li a:hover {text-decoration:none;}
#press ul li span { display:inline-block;  margin:15px 0 0 15px; }
.num_page {width:80%; margin:0 auto; font-size:12px; overflow:hidden; }
.num_page ul{width:121px;margin:0 auto;  margin-bottom:100px; overflow:hidden; float:right; }
.num_page ul li {padding-right:7px; height:20px; line-height:20px;float:left; }
.num_page ul span {color:#999;}

/* 로그인 */
#login_page { width:305px; margin:30px auto; border:1px solid red;  box-sizing:border-box; }
.idpw input { border:1px solid #ccc; width:300px; height:30px;  }













